$colorScreenEdge: #EEEEEE;
$colorHeaderBG: white;
$itemEven: #F0F8FF;
$itemOdd: #FFFFF0;
$itemSelected: lightgreen;
$itemBorder: #EEEEEE;
$itemHoverBorder: #0000FF;
$votedBackground: #F0F8FF;
$votedBar: lightsteelblue;
