$colorScreenEdge: white;
$colorHeaderBG: white;
$colorItemEven: #F0F8FF;
$colorItemOdd: #FFFFF0;
$colorItemSelected: lightgreen;
$colorItemBorder: #EEEEEE;
$colorItemHoverBorder: #0000FF;
$colorVotedBackground: #F0F8FF;
$colorVotedBar: lightsteelblue;
