.app-form-status-info {
  padding: 7px 4px 4px 4px;
  background-color: white;
  border: 1px solid white;
}

.app-form-status-working {
  padding: 7px 4px 4px 4px;
  background-color: lightyellow;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.app-form-status-ok {
  padding: 7px 4px 4px 4px;
  background-color: #ABEBC6;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.app-form-status-error {
  padding: 7px 4px 4px 4px;
  background-color: #FF5733;
  border: 1px solid lightgray;
  border-radius: 4px;
}
