.app-h-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px 0 12px 0;
  margin: 0;
  background-color: $colorHeaderBG;
  border-bottom: 1px solid darkgray;
}

.app-h-line1 {
  padding: 0px 8px 12px 8px;
  max-width: 760px;
  margin: 0 auto 0 auto;
  overflow: auto;
}

.app-h-title {
  float: left;
  font-family: 'Jura', sans-serif;
  text-shadow: 2px 2px 2px #CCCCCC;
  font-size: 40px;
  font-style: italic;
}

.app-h-menuRight {
  float: right;
  list-style-type: none;
  margin: 0;
  margin-top: 12px;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 4px 6px 4px 6px;
    text-decoration: none;
  }
}

.app-h-line2 {
  width: calc(100% - 16px);
  max-width: 760px;
  margin: 0px auto 0px auto;
  clear: both;
}

.app-h-menuLeft
{
  display: inline-block;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;

  li {
    float: left;

    a {
      display: block;
      color: #555555;
      text-align: center;
      padding: 0px 6px 0px 6px;
      text-decoration: none;
    }

    a.active {
      color: black;
      border-bottom: 2px solid darkgray;
    }
  }
}
