.app-h-area {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $colorHeaderBG;
  border-bottom: 1px solid darkgray;
}

.app-h-line1 {
  width: 100%;
  max-width: $contentMaxWidth;
  margin: 0px auto 0px auto;
  padding: 4px 0px 4px 0px;
}

.app-h-title {
  float: left;
  display: inline-block;
  font-family: 'Jura', sans-serif;
  text-shadow: 2px 2px 2px #CCCCCC;
  font-size: 28px;
  font-style: italic;
}

.app-h-menuRight {
  float: right;
  display: inline-block;
  list-style-type: none;
  margin: 8px 0px 0px 0px;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 4px 6px 4px 6px;
    text-decoration: none;
  }
}

.app-h-line2 {
  width: 100%;
  max-width: $contentMaxWidth;
  margin: 0px auto 0px auto;
  padding: 8px 0px 8px 0px;
  clear: both;
}

.app-h-menuLeft
{
  display: inline-block;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;

  li {
    float: left;

    a {
      display: block;
      color: #555555;
      text-align: center;
      padding: 0px 6px 0px 6px;
      text-decoration: none;
    }

    a.active {
      color: black;
      border-bottom: 2px solid #ADD8E6;
    }
  }
}
