.app-manage-content {
  margin: 0 auto 0 auto;
  max-width: 400px;
}

.app-manage-select {
  width: 100%;
  max-width: 400px;
  margin-left: 12px;

  label {
    display: inline-block;
    text-align: right;
    width: 60px;
  }
  select {
    width: 100%;
    margin-left: 8px;
    max-width: 270px;
    font-size: 16px;
    cursor: pointer;

    option {
      padding: 4px;
    }
  }
}

.app-manage-poll {
  padding-top: 16px;
  width: 96%;
  max-width: 400px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 8px auto 0 auto;

  h2 {
    text-align: center;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.app-manage-label1 {
  display: inline-block;
  padding-left: 4px;
  width: 90px;
}

.app-manage-input1 {
  font-size: 16px;
  width: 70%;
  max-width: 240px;
}

.app-manage-label2 {
  display: inline-block;
  width: 100px;
}

.app-manage-input2 {
}

.app-manage-maxVotes {
  font-size: 16px;
  width: 100px;
  margin-left: 10px;
}

.app-manage-date {
  font-size: 16px;
  width: 100px;
  margin-left: 10px;
}

.app-manage-vspacing {
  margin-bottom: 16px;
}

.app-manage-subtitle {
  margin-left: 4px;
  margin-bottom: 12px;
}

.buttonArea {
  margin-top: 12px;
  text-align: center;

  button {
    display: inline;
    margin: 0px 4px 4px 4px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 6px 10px 6px 10px;
    background-color: white;
    font-size: 14px;
  }
}

.sharePoll {
  padding-top: 16px;
  clear: both;
  width: 100%;

  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
