.app-manage-content {
  margin: 0 auto 0 auto;
  max-width: 400px;
}

.app-manage-box {
  margin-top: 16px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.app-manage-topLabel {
  display: block;
  margin: 4px 0px 8px 4px;
}

.app-manage-select {
  display: block;
  width: 100%;
  margin: 8px 4px 8px 8px;
  max-width: 370px;

  option {
    padding: 4px;
  }
}

.app-manage-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-manage-row {
  margin-bottom: 8px;
}

.app-manage-label1 {
  display: inline-block;
  padding-left: 4px;
  width: 90px;
}

.app-manage-input1 {
  width: 70%;
  max-width: 240px;
}

.app-manage-label2 {
  display: inline-block;
  width: 100px;
}

.app-manage-input2 {
}

.app-manage-maxVotes {
  width: 100px;
  margin-left: 10px;
}

.app-manage-date {
  width: 100px;
  margin-left: 10px;
}

.app-manage-vspacing {
  margin-bottom: 16px;
}

.app-manage-subtitle {
  margin-left: 4px;
  margin-bottom: 12px;
}

.app-manage-sharePoll {
  padding-top: 16px;
}
