// menu colors
$colorText: black;
$colorHover: aliceblue;
$colorSubmenuBorder: darkgray;
$colorSubmenu: $colorHeader;
$colorMenuIcon: $colorHeader;
$colorMenuIconBorder: $colorHeader;
$colorMenuIconBar: black;

// menu bar container settings
.app-menu-bar {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  position: relative;

  // regular menu items
  .app-menu-item {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .app-menu-item a,
  .app-menu-item span {
    display: block;
    padding: 3px 6px 3px 6px;
    text-decoration: none;
    white-space: nowrap;
    color: $colorText;
  }

  .app-menu-item:hover {
    background-color: $colorHover;
  }

  .app-menu-item .active {
    font-weight: 600;
  }

  // sub menu container
  .app-menu-sub {
  }

  .app-menu-sub-spacer {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: transparent;
  }

  .app-menu-sub-hide {
    display: none;
  }

  .app-menu-sub-show {
    background-color: $colorSubmenu;
    display: block;
    position: absolute;
    margin-top: 4px;
    border: 1px solid $colorSubmenuBorder;
    padding: 12px;
  }

  // sub menu items
  .app-menu-sub .app-menu-item {
    display: block;
  }
}

// left and right menu settings
.app-menu-left {
  float: left;
}

.app-menu-right {
  float: right;
  margin-top: 12px;

  .app-menu-sub-show {
    left: auto;
    right: 0;
  }
}

// Dropdown menu
.app-menu-dropdown {
  float: left;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;

  // menu icon
  .app-menu-icon {
    height: 22px;
    width: 22px;
    background-color: $colorMenuIcon;
    border: 1px solid $colorMenuIconBorder;
  }

  .app-menu-iconBar {
    height: 2px;
    width: 16px;
    margin: 4px 0px 0px 3px;
    border: 0px;
    border-radius: 1px;
    background-color: $colorMenuIconBar;
  }

  // regular menu items
  .app-menu-item {
    display: block;
    margin: 0;
    padding: 0;
  }

  .app-menu-item a,
  .app-menu-item span {
    display: block;
    padding: 3px 6px 3px 6px;
    text-decoration: none;
    white-space: nowrap;
    color: $colorText;
  }

  .app-menu-item:hover {
    background-color: $colorHover;
  }

  .app-menu-item .active {
    font-weight: 600;
  }

  // sub menu container
  .app-menu-sub {
  }

  .app-menu-sub-hide {
    display: none;
  }

  .app-menu-sub-wrapper {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
  }

  .app-menu-sub-show {
    display: block;
    background-color: $colorSubmenu;
    border: 1px solid $colorSubmenuBorder;
    margin: 40px 4px 4px 0px;
    padding: 12px;
    max-height: 300px;
    overflow-y: auto;
  }

  // sub menu items
  .app-menu-sub .app-menu-item {
    display: block;
  }
}

// add arrows (down or right)
.app-menu-downArrow::after {
  content: ' \25BC';
  font-size: 12px;
  padding-bottom: 2px;
}

.app-menu-rightArrow::after {
  content: ' \25BA';
  font-size: 12px;
  padding-bottom: 2px;
}
