.pollPage {
  overflow: auto;
  width: 90%;
  max-width: 500px;
  margin: 0px auto 0px auto;

  h2 {
    font-family: 'Jura', sans-serif;
    text-align: center;
    margin: 8px auto 12px auto;
  }
  .pollHint {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 12px;
    margin-bottom: 0px;
  }
}

.pollItems {
  .pollItem {
    font-family: 'Lato', sans-serif;
    padding: 8px;
    cursor: pointer;
  }
  .pollItem:hover {
    border: 1px solid blue;
  }
  .name {
    color: black;
    font-size: 18px;
  }
  .votes {
    padding-top: 4px;
    color: blue;
    float: right;
    font-size: 14px;
  }
  .odd {
    border: 1px solid #EEEEEE;
    background-color: #B0E0E6;
  }
  .even {
    border: 1px solid #EEEEEE;
    background-color: #AFEEEE;
  }
  .pollSelected {
    background-color: lightgreen;
  }
}
