.app-poll-pollHint {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-top: 12px;
  margin-bottom: 0px;
}

.app-poll-pollItems {
}

.app-poll-pollItem {
  font-family: 'Lato', sans-serif;
  padding: 8px;
  cursor: pointer;
}

.app-poll-pollItem:hover {
  border: 1px solid $colorItemHoverBorder;
}

.app-poll-pollItemName {
  font-size: 18px;
}

.app-poll-pollItemOdd {
  border: 1px solid $colorItemBorder;
  background-color: $colorItemOdd;
}

.app-poll-pollItemEven {
  border: 1px solid $colorItemBorder;
  background-color: $colorItemEven;
}

.app-poll-pollItemSelected {
  background-color: $colorItemSelected;
}

.app-poll-votedItemArea {
  position: relative;
  width: calc(100% - 2px);
  height: 38px;
  overflow: auto;
  background-color: $colorVotedBackground;
  border: 1px solid $colorItemBorder;
  font-family: 'Lato', sans-serif;
}

.app-poll-votedItemBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: $colorVotedBar;
  transition: width 3s;
}

.app-poll-votedItemName {
  position: absolute;
  left: 8px;
  top: 10px;
  max-width: calc(100% - 40px);
  font-size: 18px;
}

.app-poll-votedItemPercent {
  position: absolute;;
  right: 8px;
  top: 11px;
  font-size: 16px;
}
