.pollPage {
  overflow: auto;
  width: 90%;
  max-width: 500px;
  margin: 0px auto 0px auto;

  h2 {
    font-family: 'Jura', sans-serif;
    text-align: center;
    margin: 8px auto 12px auto;
  }
  .pollHint {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 12px;
    margin-bottom: 0px;
  }
}

.pollItems {
}

.pollItem {
  font-family: 'Lato', sans-serif;
  padding: 8px;
  cursor: pointer;
}
.pollItem:hover {
  border: 1px solid $itemHoverBorder;
}
.pollItemName {
  font-size: 18px;
}
.pollItemOdd {
  border: 1px solid $itemBorder;
  background-color: $itemOdd;
}
.pollItemEven {
  border: 1px solid $itemBorder;
  background-color: $itemEven;
}
.pollItemSelected {
  background-color: $itemSelected;
}

.votedItemArea {
  position: relative;
  width: calc(100% - 2px);
  height: 38px;
  overflow: auto;
  background-color: $votedBackground;
  border: 1px solid $itemBorder;
  font-family: 'Lato', sans-serif;
}
.votedItemName {
  position: absolute;
  left: 8px;
  top: 10px;
  max-width: calc(100% - 40px);
  font-size: 18px;
}
.votedItemPercent {
  position: absolute;;
  right: 8px;
  top: 11px;
  font-size: 16px;
}
