@media screen and (max-width:500px) {
  .app-results-selectArea {
    display: block;
    width: 300px;
    margin-bottom: 20px;
  }

  .app-results-displayArea {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width:501px) {
  .app-results-selectArea {
    display: inline-block;
    float: left;
    width: 200px;
    margin-right: 20px;
  }

  .app-results-displayArea {
    display: inline-block;
    float: right;
    width: calc(100% - 224px);
  }
}

.app-results-label {
  font-size: 24px;
  margin-bottom: 8px;
}

.app-results-select {
  width: 100%;
  cursor: pointer;
}

.app-results-option {
  padding: 4px;
}

.app-results-option:checked {
    background-color: lightsteelblue;
}

.app-results-display {
  width: calc(100% - 4px);
  border: 1px solid lightgray;
  border-radius: 4px;
}

.app-results-title {
  font-size: 20px;
  text-align: center;
}

.app-results-totalVotes {
  text-align: center;
  font-size: 14px;
  margin: 0px auto 8px auto;
}

.app-results-poll {
  margin: 0px 4px 4px 4px;
  padding: 8px;
}

.app-results-name {
  font-size: 18px;
}

.app-results-votes {
  padding-top: 4px;
  float: right;
  font-size: 14px;
}
