.app-results-label1,
.app-results-label2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.app-results-label2 {
  margin-top: 20px;
}

.app-results-select {
  font-size: 16px;
  cursor: pointer;
}

.app-results-option {
  padding: 4px;
}

.app-results-option:checked {
    background-color: lightsteelblue;
}

.app-results-display {
  width: calc(100% - 16px);
  border: 1px solid lightgray;
  border-radius: 4px;
}

.app-results-title {
  font-size: 20px;
  text-align: center;
}

.app-results-totalVotes {
  text-align: center;
  font-size: 12px;
  margin: 0px auto 8px auto;
}

.app-results-poll {
  margin: 0px 0px 4px 0px;
  padding: 8px;
  cursor: pointer;
}

.app-results-poll:hover {
  border: 1px solid $itemHoverBorder;
}

.app-results-name {
  font-size: 18px;
}

.app-results-votes {
  padding-top: 4px;
  float: right;
  font-size: 14px;
}
