$contentMaxWidth: 790px;

@import 'colors';
@import 'defaults';
@import 'header';
@import 'dialog';
@import 'homePage';
@import 'pollPage';
@import 'managePage';
@import 'resultsPage';
@import 'aboutPage';

#app {
  width: 100%;
  height: 100%;
}

body {
  background-color: $colorScreenEdge;
}

.pageContent {
  width: 90%;
  max-width: $contentMaxWidth;
  padding-top: 12px;
  margin: 0px auto 0px auto;
  overflow: auto;
}
